//
//  template_setup.xcconfig
//     --> copied to developer_setup.xcconfig
//
//  Created by Jan Iversen on 20/03/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// BUNDLE_ID is used as name for BUNDLE_IDENTIFIER
BUNDLE_ID = com.myself.blinkshell
GROUP_ID  = com.myself


// BLINK_PUBLISHING_OPTION_DEVELOPER
// BLINK_PUBLISHING_OPTION_TESTFLIGHT
// BLINK_PUBLISHING_OPTION_APPSTORE

SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug]   = BLINK_PUBLISHING_OPTION_DEVELOPER
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Release] = BLINK_PUBLISHING_OPTION_TESTFLIGHT

BLINK_MIGRATION_SCHEME = blinkv15
